<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark rounded-5" >
  <%# <a href="/admin/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <a href="/admin/dashboard" class=""><span class="fs-4">Dashboard</span></a>
    </a> %>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/admin/dashboard" class="nav-link rounded-4 mb-1 text-white <%= 'active' if current_page?(admin_dashboard_path) %>" aria-current="page">
        <%= inline_svg_tag 'icon/calendar.svg', class: 'text-light mb-2' %>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/events" class="nav-link rounded-4 mb-1 text-white <%= 'active' if current_page?(events_path) %>">
        <%= inline_svg_tag 'icon/calendar.svg', class: 'text-light mb-2' %>
        Events
      </a>
    </li>
    <li>
      <a href="/experiences" class="nav-link rounded-4 mb-1 text-white <%= 'active' if current_page?(experiences_path) %>">
        <%= inline_svg_tag 'icon/teacher.svg', class: 'text-light mb-2' %>
        Experiences
      </a>
    </li>
    <li>
      <a href="/powers" class="nav-link rounded-4 mb-1 text-white  <%= 'active' if current_page?(powers_path) %>">
        <%= inline_svg_tag 'icon/flow.svg', class: 'text-light mb-2' %>
        Superpowers
      </a>
    </li>
    <li>
      <a href="/challenges" class="nav-link rounded-4 mb-1 text-white <%= 'active' if current_page?(challenges_path) %>">
        <%= inline_svg_tag 'icon/task-square.svg', class: 'text-light mb-2' %>
        Challenges
      </a>
    </li>
    <li>
      <a href="/locations" class="nav-link rounded-4 mb-1 text-white <%= 'active' if current_page?(locations_path) %>">
        <%= inline_svg_tag 'icon/location.svg', class: 'text-light mb-2' %>
        Locations
      </a>
    </li>
    <li>
      <a href="/awards" class="nav-link rounded-4 mb-1 text-white <%= 'active' if current_page?(awards_path) %>">
        <%= inline_svg_tag 'icon/medal.svg', class: 'text-light mb-2' %>
        Awards
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
